
#header {
    font-size:4.5em;
    font-weight:bolder;
    color:black;
    padding-bottom:5px;
}

li{
    font-size:1.2em;
}

.home_text {
    font-style: italic;
}
.privacyMap {
    align-items: center;
    margin:35px; 
}

.card {
    border-color: #0974ee;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.card-text {
    font-style: italic;
    font-size: small;
}
.case-study-link {
    font-size: 1rem;  
    transition: 0.3s;

}
h4 {
    padding-bottom: 15px;
}