.container{
    font-family: 'Montserrat';
    text-align: center;
    padding:5px;
}

h1 {
    padding: 10px;
    font-weight:bolder;
}

h2{
    padding-top:15px;
}

h3{
    text-decoration: underline;
}

p {
    padding-bottom:10px;
}


.navbar {
    background-color: #898989; 
    font-family: 'Montserrat';
    padding: 5px; 
}

.navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold; 
}

/* Navbar items styling */
.navbar-nav .nav-item {
    margin-left: 20px; /* Space between navbar items */
}

.nav-link {
    color: #ffffff; /* Link color */
    transition: color 0.3s; /* Smooth transition for hover */
}

.nav-link:hover {
    color: #d2d7dd; /* Darker color on hover */
}

.video {
    padding: 30px;
}