{% extends "layout.html" %}

{% block content %}
<div class=" container">
    <h1>
        The New Scramble for Africa

    </h1>
        
    <p> Facebook is laying a 37,000 km undersea cable to expand internet access in Africa. While this project will enhance connectivity in underserved regions, Facebook is positioning itself as the gatekeeper of information flow, consolidating power over the African digital landscape. This not only allows the company to gather vast amounts of user data but also gives it disproportionate influence over local economies and political narratives. Furthermore, it raises concerns about monopolistic tendencies, as local providers may struggle to compete with the data and resources controlled by a U.S. tech conglomerate (Damm & Moultrie, 2021).</p>
    <h2>
        Lose Lose Situation
    </h2>
    <p> Several African countries have adopted a relaxed approach to data privacy in order to attract companies seeking to avoid burdensome legal requirements. However, if leading countries establish stringent laws, African companies struggle to keep up. By having lax data privacy regulations, these countries have attracted FDI and fostered startups, leading to a surge in e-commerce and tech growth, similar to how countries who are tax havens attract investment. But the sheer nature of these lax laws provides a breeding ground for data exploitation.  </p>
    <p>On the flip side, the EU enacting the General Data Protection Regulation (GDPR) established rigorous data protection standards which undermined the progress enabled by lax laws in these countries. To maintain access to the lucrative EU market, developing countries are coerced into regulations that may not align with their unique social contexts or economic conditions. The situation echoes a form of data imperialism, where the EU imposes its stringent data privacy standards on regions that may lack the infrastructure, resources, or political will to comply fully. This risks stifling the growth of the tech market in these countries (Mannion, 2020).</p>
    
    <h2>
        Transsion Phone Lines 
    </h2>
    <p>Transsion, a Chinese phone hardware company is the largest supplier to the entire African continent. It has a market capitalization of over $15 billion and specializes in phones whose hardware, with multiple pre-set apps, requires less memory. This is more suitable for the access issues that arise in this region and it has become more and more an important factor in the rise of datafication of quotidien life in Africa (Couldry & Meija, 2024).
    </p>

    <h3>
        Zimbabwe
    </h3>
    <p>Chinese facial recognition company, CloudWalk, is partnering with the Zimbabwean government, enhancing governmental surveillance capabilities. This private public partnership fuses the interests of the Chinese tech firm with those of the Zimbabwean government, potentially allowing for mass data collection and monitoring of citizens. CloudWalk not only benefits from a broader range of data to refine its facial recognition algorithms but also gains a foothold in a foreign market. The local populations could become subjects in a larger experiment or research unbeknownst to them (Damm & Moultrie, 2021). 
    </p>
    <h3>
        Kenya
    </h3>
    <p>Loon, a Google subsidiary, released internet balloons over Kenya for 4G access. There are plans to expand to Mozambique. The deployment of internet balloons can be seen as an innovative solution to bridge the digital divide. However, Google may gain access to local user data and influence societal dynamics. This stratagem, though initially beneficial, risks creating dependencies that may limit the agency of local communities and governments in directing their digital futures (Damm & Moultrie, 2021).

    </p>
</div>


{% endblock %}