{% extends "layout.html" %}

{% block content %}
<div class="'container">
    <h1 class="display-4 text-center mb-4">
        Indigenous Groups in Oceania
    </h1>

    <div id="left-text">
        <div id="left">
            <h2>
            Australia
            </h2>
            <p>
                Australia is part of the world’s most enduring international intelligence sharing network, called FVEY (US, UK, Canada, Australia, New Zealand) that was created in the 1940’s. Within this alliance, the most important effort is the Joint Defense Facility at Pine Gap, JDFPG, created at the height of the Cold War. JDFPG is currently located on Arrernte land, which has created aboriginal outcry for decades. As not only is this surveillance initiative violating the privacy of the group, but it is also extends as a form of physical colonialism on aboriginal land itself. 
                “The Intervention” aka Northern Territory Emergency Response is meant to mitigate child abuse and household violence in remote aboriginal communities. This is a paternalistic practice that has evolved over the course of 200 years and is a serious violation of privacy of aboriginal families. One more modern example is that certain websites were prohibited in over 70 secluded Aboriginal areas that were available elsewhere in Australia. Internet providers and computer facilities in these secluded areas were actually mandated to audit the computer use and maintain the records of the computer usage of these areas.  


“Suspect Targeting Management Plan” was a program rolled out in New South Wales that identified individuals supposedly at risk of recidivism. Shockingly some listed on the black list or “at risk” list were Aboriginal children the age of nine years. This plan revealed a serious bias in the criminal justice system and how the abuse of data collection could exacerbate this problem.

            </p>
        </div>
        <img  src="https://cdn.britannica.com/86/183586-050-A05EF881/World-Data-Locator-Map-Australia.jpg"/>
    </div>

    <div id="right-text">
        <img  src="https://cdn.britannica.com/18/3018-050-9EB93A42/New-Zealand.jpg"/>
        <div id="right">
            <h2> 
                New Zealand
            </h2>
            <p>
                In practice, Indigenous groups are actively constructing their own digital infrastructures—establishing independent telephone and internet services, creating video streaming platforms that reflect their narratives, and developing applications and web browsers in their languages to preserve their cultural heritages. The urgency of this movement is underscored by the threat facing Indigenous languages, with estimates suggesting that up to 90% could disappear by 2100. Communities like the Māori in Aotearoa (New Zealand) are taking proactive measures to safeguard their language, through the creation of AI language tools that allow for community control over language data management (Mann & Daly, 2019).
                This resistance to data colonialism is rooted in a rejection of the colonial structures perpetuated by Big Tech, which often offers solutions that maintain dependence and enforce surveillance rather than autonomy. Māori activists, for instance, are wary of merely uploading their linguistic data to commercial platforms, fearing that these entities would exploit their cultural heritage for profit, echoing historical patterns of land dispossession. Such sentiments highlight a broader call among Indigenous groups for systems that prioritize their interests and preserve their sovereignty, allowing them to shape their narratives and control their data amid the ongoing challenges posed by data colonialism (Couldry & Mejia, 2024).
            </p>
        </div>
</div>



</div>
{% endblock %}