{% extends "layout.html" %}

{% block content %}
<div class="'container">
    <h1>
        Indigenous Groups in Oceania
    </h1>
    <h2>
        Australia
    </h2>
    <p>
        “Since 9/11, the Australian border has been a prominent site of biometric data collection about those that (attempt to) pass through it… informed by historical and racialized colonial narratives of securitization (Mann & Daly, 2019).”
        Post-9/11, the Australian government has prioritized national security, resulting in heightened surveillance and data collection practices that disproportionately affect marginalized groups, including refugees. This surveillance reinforces negative stereotypes about "the other," mirroring colonial attitudes that sought to control and monitor indigenous populations. The development of expansive data infrastructures in this context perpetuates a form of digital colonialism, where the data collected contributes to systems of control that are often disconnected from the lived realities and rights of the individuals being monitored.
    </p>
    <h2> 
        New Zealand
    </h2>
    <p>
        In practice, Indigenous groups are actively constructing their own digital infrastructures—establishing independent telephone and internet services, creating video streaming platforms that reflect their narratives, and developing applications and web browsers in their languages to preserve their cultural heritages. The urgency of this movement is underscored by the threat facing Indigenous languages, with estimates suggesting that up to 90% could disappear by 2100. Communities like the Māori in Aotearoa (New Zealand) are taking proactive measures to safeguard their language, through the creation of AI language tools that allow for community control over language data management (Mann & Daly, 2019).
        This resistance to data colonialism is rooted in a rejection of the colonial structures perpetuated by Big Tech, which often offers solutions that maintain dependence and enforce surveillance rather than autonomy. Māori activists, for instance, are wary of merely uploading their linguistic data to commercial platforms, fearing that these entities would exploit their cultural heritage for profit, echoing historical patterns of land dispossession. Such sentiments highlight a broader call among Indigenous groups for systems that prioritize their interests and preserve their sovereignty, allowing them to shape their narratives and control their data amid the ongoing challenges posed by data colonialism (Couldry & Mejia, 2024).
    </p>



</div>
{% endblock %}