{% extends "layout.html" %}

{% block content %}
<div class="'container">
    <h1 class="display-4 text-center mb-4">
        Latin America
    </h1>
    
    <div id="argentina">
        <div id="left">
            <h2>
                Argentina Case
            </h2>
            <p>
                In Argentina, the government in 2022 signed a contract with Microsoft to use AI to create a ‘Technology Platform for Social Intervention’ which will predict teenage pregnancy among lower-class women. Microsoft also partakes in, Horus, a social welfare project, prominent in Argentina and Brazil, that seeks to cut welfare waste through more stringent profiling of welfare recipients.
                Argentine nonprofit called the Conin Foundation, run by doctor Abel Albino, a vocal opponent of abortion rights, was behind this pregnancy predictive model. The implementation of this pregnancy forecast would serve as the perfect excuse to deem abortion laws unnecessary given the model could serve as a pregnancy prevention tool.
                Furthermore, this technology is also a cause for concern given that Argentina has had a history of eugenic thinking in its policies, most notably at the turn of the 20th century wherein genocides of indigenous groups were carried out and immigration policies radically in favor of European immigrants were enacted (Jemio, Diego, et al. 2022).
            </p>
        </div>
    
        <img  src="https://cdn.britannica.com/83/183583-050-B79EFF03/World-Data-Locator-Map-Argentina.jpg"/>
     
    </div>
    <div id="brazil">
        <img  src="https://cdn.britannica.com/83/183583-050-B79EFF03/World-Data-Locator-Map-Argentina.jpg"/>

        <div id="right">
        <h2> 
            Brazil: SpaceX and Jair Bolsonaro Deal
        </h2>
        <p>
            The deal initially struck between former Brazilian President Jair Bolsonaro and Elon Musk, owner of Starlink, aimed to expand internet access to 19,000 rural schools and to monitor the Amazon rainforest's condition. While the stated goal appeared benevolent, critics suggest that the underlying purpose is more about leveraging data from the resource-rich Amazon than genuinely benefiting locals.
            The dominance of Starlink in the Amazon grants Elon Musk substantial control over crucial information pertaining to this vital ecosystem. As Starlink supplies nearly all satellite internet access in the region, it potentially allows the company to gather sensitive data on human activities and environmental changes throughout the Amazon. This is alarming from a national security standpoint, as the information obtained could reveal locations of valuable mineral resources and other assets, granting Musk and Starlink valuable information that may surpass data held by the Brazilian government itself. In other words, Musk could obtain detailed information about resource exploitation, illegal activities, within the Amazonian region, giving him leverage over Brazilian policies. In addition to challenging the Brazilian government’s authority, Starlink’s upperhand could complicate the rights of Indigenous peoples living in the region (Phillips, 2024).
        </p>
    </div>

    </div>


</div>
{% endblock %}