{% extends "layout.html" %}

{% block content %}

<head>
    <title>
        Data Colonialism
    </title>
</head>
<h1>Data Colonialism</h1>
<p>What is Data Colonialism?</p>

<img src="https://images.squarespace-cdn.com/content/v1/5b4f63e14eddec374f416232/1613599267790-FH7D2N1OC0DNND1QPFFN/data-economics-777x437.jpg?format=1500w" alt="Home Image" class="img-fluid rounded" style="max-width: 600px;">

<div class="container mt-4">
    <ul class="list-unstyled">
        <li><a href="{{ url_for('about') }}">Defining Data Colonialism</a></li>
        <li><a href="{{ url_for('services') }}">The New Scramble for Africa</a></li>
        <li><a href="{{ url_for('contact') }}">Minorities and Migration</a></li>
        <li><a href="{{ url_for('contact') }}">Latin America</a></li>
        <li><a href="{{ url_for('contact') }}">Indigenous Groups in Oceania</a></li>
    </ul>
</div>
{% endblock %}
