{% extends "layout.html" %}

{% block content %}

<head>
    <title>
        Data Colonialism
    </title>
</head>
<div id="header">Data Colonialism
    
</div>

<img src="https://images.squarespace-cdn.com/content/v1/5b4f63e14eddec374f416232/1613599267790-FH7D2N1OC0DNND1QPFFN/data-economics-777x437.jpg?format=1500w" alt="Home Image" class="img-fluid rounded" style="max-width: 600px;">

<div class="container mt-4">
    <h5> Case Studies:</h5>
    <ul class="list-unstyled">
        <li><a href="{{ url_for('case1') }}">The New Scramble for Africa</a></li>
        <li><a href="{{ url_for('case2') }}">Minorities and Migration</a></li>
        <li><a href="{{ url_for('case3') }}">Latin America</a></li>
        <li><a href="{{ url_for('case4') }}">Indigenous Groups in Oceania</a></li>
    </ul>
</div>
{% endblock %}
