{% extends "layout.html" %}

{% block content %}


    <h1>
        Citations
    </h1>
    <div id="sources">
    <p>
        Couldry, Nick and Mejias, Ulises A. Data Grab: The New Colonialism of Big Tech and           How to Fight Back. University of Chicago Press, 2024. 
    </p>
    <p>
        Dahmm, Hayden, and Tom Moultrie. “Avoiding the Data Colonialism Trap.” TRENDS, 22 Feb. 2021, www.sdsntrends.org/blog/2021/datacolonialism. 
    </p>
    <p>
        Jemio, Diego, et al. “The Case of the Creepy Algorithm That ‘predicted’ Teen Pregnancy.” Wired, Conde Nast, 16 Feb. 2022, www.wired.com/story/argentina-algorithms-pregnancy-prediction/. 
    </p>
    <p>
        Jimenez, Aitor, and Ainhoa Douhaibi. “The Islamophobic Consensus: Datafying Racism in Catalonia.” Research Gate, www.researchgate.net/publication/371911485_The_Islamophobic_Consensus_Datafying_racism_in_Catalonia. Accessed 23 Oct. 2024.    
    </p>
    <p>
        Mann, M., & Daly, A. (2019). (Big) Data and the North-in-South: Australia’s Informational Imperialism and Digital Colonialism. Television & New Media, 20(4), 379-395. https://doi.org/10.1177/1527476418806091
    </p>
    <p>
        Mannion, Cara. "Data Imperialism: The GDPR's Disastrous Impact on Africa's E-Commerce Markets." Vanderbilt Journal of Transnational Law, vol. 53, no. 2, March 2020, pp. 685-712. HeinOnline, https://heinonline.org/HOL/P?h=hein.journals/vantl53&i=701.
    </p>
    <p>
        Phillips, Tom. “‘Can’t Live without It’: Alarm at Musk’s Starlink Dominance in Brazil’s Amazon.” The Guardian, Guardian News and Media, 8 Sept. 2024, www.theguardian.com/technology/article/2024/sep/08/alarm-at-musk-starlink-dominance-brazil-amazon.
    </p>
    <p>
        Yuval Noah Harari. Nexus: A Brief History of Information Networks From the Stone Age to AI. Random House Publishing Group, 2024. 
    </p>

    <p>Research and website development by: Kira Ariyan, Jade Bucci & Alex Polzak</p>

</div>
{% endblock %}
